.title {
  font-size: 7vh;
  font-weight: bold;
  padding-left: 3vw;
  padding-top: 1vh;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.mobiletitle {
  font-size: 6vh;
  font-weight: bold;
  padding-left: 3vw;
  padding-top: 1vh;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.navigation {
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
  font-size: 4vh;
  top: 3vh;
  bottom: 3vh;
  right: 3vw;
  position: absolute;
}

.activeNav {
  position: relative;
}

.activeNav::after {
  position: absolute;
  left: 0;
  bottom: -4vh;
  width: 100%;
  height: 4vh;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.container {
  display: flex;
  width: 100vw;
  height: 10vh;
  position: relative;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.myname {
  font-size: 5vh;
  padding-left: 3vw;
  padding-top: 5vh;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.detail {
  font-size: 3vh;
  padding-left: 3vw;
  padding-top: 2vh;
  color: rgb(85, 84, 84);
  background-color: whitesmoke;
}

.icon {
  width: 100vw;
  display: flex;
  padding-left: 3vw;
  padding-top: 12vh;
  justify-content: center;
  gap: 5rem;
  background-color: whitesmoke;
}

.icona {
  margin-right: 3vw;
  background-color: whitesmoke;
  transition: all 0.3s ease;
}

.icona:hover {
  transform: translateY(-5px) scale(1.2);
}

.mobileOnly {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.desktopOnly {
  display: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.mobileNav {
  display: block;
  width: 100vw;
  background-color: whitesmoke;
}

.mobilenavlocation {
  display: flex;
  padding-right: 3vw;
}

.menubutton {
  margin-left: auto;
  margin-right: 2vw;
  padding-top: 1vh;
  border: none;
  background-color: whitesmoke;
  z-index: 1000;
}

.desktopNav {
  display: none;
  width: 100vw;
  background-color: whitesmoke;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 245, 245, 0.7); /* whitesmokeの半透明 */
  backdrop-filter: blur(5px); /* 背景をぼかす */
  -webkit-backdrop-filter: blur(5px); /* Safari対応 */
  z-index: 998;
  animation: fadeIn 0.3s ease;
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .desktopNav {
    display: block;
  }
}
