.activeNav {
  position: relative;
}

.activeNav::after {
  background-color: whitesmoke;
  bottom: -4vh;
  color: rgb(85, 84, 84);
  height: 4vh;
  left: 0;
  position: absolute;
  width: 100%;
}

.container {
  background-color: whitesmoke;
  color: rgb(85, 84, 84);
  display: flex;
  height: 10vh;
  position: relative;
  width: 100vw;
  z-index: 10;
}

.desktopNav {
  display: none;
  width: 100vw;
}

.desktopNavWrapper {
  background-attachment: fixed;
  background-image: url(/desk.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.desktopNavWrapperAbout {
  background-image: url(/about.jpg);
}

.desktopOnly {
  align-items: center;
  background-image: url(/desk.png);
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
}

.desktopOnly::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
  z-index: 0;
}

.detail {
  color: rgb(85, 84, 84);
  font-size: 3vh;
  padding-right: 20vw;
  padding-top: 2vh;
}

.firstMyname {
  color: rgb(85, 84, 84);
  font-size: 5vh;
  padding-top: 2vh;
}

.icon {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding-left: 3vw;
  padding-top: 8vh;
  width: 100vw;
}

.icona {
  margin-right: 3vw;
  transition: all 0.3s ease;
}

.icona:hover {
  transform: translateY(-5px) scale(1.2);
}

.menuItem {
  margin: 0;
}

.menuLink {
  color: #333;
  display: block;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
}

.menuList {
  list-style: none;
  margin-top: 3vh;
  padding: 2rem 0;
}

.menuText {
  display: inline-block;
  position: relative;
}

.menuText::after {
  background-color: rgb(85, 84, 84);
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
  width: 100%;
}

.menubutton {
  background-color: whitesmoke;
  border: none;
  margin-left: auto;
  padding-right: 4vw;
  padding-top: 1vh;
  z-index: 1000;
}

.mobileDetail {
  background-color: whitesmoke;
  color: rgb(85, 84, 84);
  display: flex;
  font-size: 2vh;
  gap: 1rem;
  padding-left: 2vw;
  padding-top: 2vh;
}

.mobileIcon {
  background-color: whitesmoke;
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-left: 3vw;
  padding-top: 5vh;
  width: 100vw;
}

.mobileMyname {
  background-color: whitesmoke;
  color: rgb(85, 84, 84);
  font-size: 4vh;
  padding-left: 2vw;
  padding-top: 5vh;
}

.mobileNav {
  background-color: whitesmoke;
  display: block;
  width: 100vw;
}

.mobileOnly {
  background-color: whitesmoke;
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.mobiletitle {
  background-color: whitesmoke;
  color: rgb(85, 84, 84);
  font-size: 6vh;
  font-weight: bold;
  padding-left: 3vw;
  padding-top: 1vh;
}

.mobilenavlocation {
  display: flex;
  padding-right: 3vw;
}

.myname {
  color: rgb(85, 84, 84);
  font-size: 5vh;
  padding-top: 5vh;
}

.navigation {
  color: rgb(85, 84, 84);
  font-size: 4vh;
  position: fixed;
  right: 3vw;
  top: 3vh;
  z-index: 200;
}

.overlay {
  animation: fadeIn 0.3s ease;
  backdrop-filter: blur(5px);
  background: rgba(245, 245, 245, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
  -webkit-backdrop-filter: blur(5px);
}

.sideMenu {
  background: whitesmoke;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  right: -150px;
  top: 0;
  transition: right 0.3s ease;
  width: 150px;
  z-index: 999;
}

.sideMenu.open {
  right: 0;
}

.span {
  color: rgb(85, 84, 84);
}

.title {
  color: rgb(85, 84, 84);
  font-size: 7vh;
  font-weight: bold;
  left: 3vw;
  padding-left: 3vw;
  padding-top: 1vh;
  position: fixed;
  top: 1vh;
  z-index: 200;
}

.active .menuText::after {
  transform: scale(1, 1);
}

/* アニメーション */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .desktopNav {
    display: block;
  }
  .desktopNavWrapper {
    display: block;
  }
}

@media (max-width: 767px) {
  .desktopNavWrapper {
    display: none;
  }
}
