.torn_container {
  /* CSS変数 */
  --torn-shadow-offset-x: -2px;
  --torn-shadow-offset-y: 2px;
  --torn-shadow-blur: 1px;
  --torn-shadow-background-color: rgb(255, 255, 255, 0.8);
  --torn-left-width: 19px;
  --torn-right-width: 19px;
  --torn-left-clip-path: polygon(
    6% 0%,
    7% 3%,
    19% 5%,
    99% 8%,
    55% 10%,
    58% 13%,
    25% 15%,
    56% 18%,
    82% 20%,
    64% 23%,
    8% 25%,
    36% 28%,
    31% 30%,
    11% 33%,
    54% 35%,
    25% 38%,
    14% 40%,
    14% 43%,
    55% 45%,
    3% 48%,
    33% 50%,
    16% 53%,
    72% 55%,
    10% 57%,
    69% 60%,
    28% 63%,
    9% 65%,
    25% 68%,
    53% 70%,
    70% 73%,
    64% 75%,
    30% 78%,
    22% 80%,
    90% 83%,
    83% 85%,
    100% 88%,
    29% 90%,
    33% 93%,
    26% 95%,
    33% 98%,
    61% 100%,
    calc(100% + 1px) 100%,
    calc(100% + 1px) 0%
  );
  --torn-right-clip-path: polygon(
    8% 0%,
    1% 3%,
    53% 5%,
    0% 8%,
    95% 10%,
    76% 13%,
    62% 15%,
    51% 18%,
    22% 20%,
    85% 23%,
    14% 25%,
    25% 28%,
    27% 30%,
    34% 33%,
    8% 35%,
    1% 38%,
    16% 40%,
    87% 43%,
    74% 45%,
    6% 48%,
    77% 50%,
    37% 53%,
    85% 55%,
    0% 57%,
    57% 60%,
    18% 63%,
    38% 65%,
    75% 68%,
    10% 70%,
    53% 73%,
    60% 75%,
    73% 78%,
    52% 80%,
    5% 83%,
    65% 85%,
    24% 88%,
    82% 90%,
    76% 93%,
    96% 95%,
    10% 98%,
    21% 100%,
    -10% 100%,
    -10% 0%
  );

  /* スタイル */
  align-self: flex-start;
  display: inline-block;
  margin-bottom: 7em;
  margin-left: calc(15vw - var(--torn-left-width));
  margin-top: 13vh;
  position: relative;
}
.torn_container > div:first-child {
  margin-left: var(--torn-shadow-offset-x);
  margin-top: var(--torn-shadow-offset-y);
  left: 0px;
  top: 0px;
  right: calc(0px - var(--torn-shadow-offset-x));
  bottom: calc(0px - var(--torn-shadow-offset-y));
  position: absolute;
  z-index: 1;
  filter: blur(var(--torn-shadow-blur));
}
.torn_container > div:nth-child(2),
.torn_container > div:nth-child(2) > span {
  vertical-align: middle;
}
.torn_container > div:nth-child(2),
.torn_left > div:nth-child(2):before,
.torn_right > div:nth-child(2):after {
  background-color: var(--torn-background-color);
}
.torn_container > div:nth-child(2),
.torn_container > div:nth-child(2) {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0.2em;
  padding-bottom: 1.5em;
}
.torn_left > div:nth-child(2):before,
.torn_left > div:first-child:before {
  content: "";
  position: absolute;
  left: calc(0em - var(--torn-left-width));
  top: 0px;
  width: var(--torn-left-width);
  bottom: 0px;
  -webkit-clip-path: var(--torn-left-clip-path);
  clip-path: var(--torn-left-clip-path);
}
.torn_container > div:first-child,
.torn_left > div:first-child:before,
.torn_right > div:first-child:after {
  background-color: var(--torn-shadow-background-color);
}
.torn_right > div:nth-child(2):after,
.torn_right > div:first-child:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  right: calc(0px - var(--torn-right-width));
  bottom: 0px;
  -webkit-clip-path: var(--torn-right-clip-path);
  clip-path: var(--torn-right-clip-path);
}

/* コンテンツの幅を制限 */
.torn_container > div:nth-child(2) {
  max-width: 80vw;
  width: auto;
  box-sizing: border-box;
}

.iconWrapper {
  width: auto !important;
  padding-left: 0 !important;
}

.aboutBackground {
  background-attachment: fixed;
  background-image: url(/about-optimized.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.aboutBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(201, 198, 198, 0.25);
  z-index: 0;
}

.desktopOnlyAbout {
  background-image: none !important;
}

.animation {
  animation: slideIn 0.8s ease-out 0.3s backwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
