* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2s;
}

/* Forward direction (Home → Works → About) */
html[data-direction="forward"]::view-transition-old(root) {
  animation-name: slide-out-left;
}

html[data-direction="forward"]::view-transition-new(root) {
  animation-name: slide-in-right;
}

/* Backward direction (About → Works → Home) */
html[data-direction="backward"]::view-transition-old(root) {
  animation-name: slide-out-right;
}

html[data-direction="backward"]::view-transition-new(root) {
  animation-name: slide-in-left;
}

/* Animations */
@keyframes slide-out-left {
  0% {
    transform: translateZ(0px);
    visibility: visible;
  }
  40% {
    transform: translate(-40%, 0) scale(0.8) rotateY(20deg);
  }
  100% {
    transform: translateZ(-200px);
    visibility: hidden;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateZ(-200px);
  }
  40% {
    transform: translate(40%, 0) scale(0.8) rotateY(-20deg);
  }
  100% {
    transform: translateZ(0px);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateZ(0px);
    visibility: visible;
  }
  40% {
    transform: translate(40%, 0) scale(0.8) rotateY(-20deg);
  }
  100% {
    transform: translateZ(-200px);
    visibility: hidden;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateZ(-200px);
  }
  40% {
    transform: translate(-40%, 0) scale(0.8) rotateY(20deg);
  }
  100% {
    transform: translateZ(0px);
  }
}
