.topContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  position: absolute;
  bottom: 7vh;
  font-size: 3vh;
  gap: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(85, 84, 84);
  background-color: transparent;
}

.buttonLink {
  position: relative;
  text-decoration: none;
  color: rgb(85, 84, 84);
  padding: 16px 16px;
  border-radius: 4px;
}

.buttonLink::after {
  position: absolute;
  left: 16px;
  content: "";
  width: calc(100% - 32px);
  height: 5px;
  background-color: rgb(85, 84, 84);
  bottom: 8px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.buttonLink:hover::after {
  transform: scale(1, 1);
}
.buttonActive::after {
  transform: scale(1, 1);
}

.name {
  color: rgb(85, 84, 84);
  background-color: transparent;
  font-size: 8vh;
}

.job {
  color: rgb(85, 84, 84);
  background-color: transparent;
  font-size: 3vh;
}

.mobileOnly {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.desktopOnly {
  display: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: url("/pexels-element5-1370295-optimized.jpg");
  background-size: cover;
}

.desktopOnly::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
}
