.main {
  pointer-events: none;
  user-select: none;
  z-index: 10;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigationWrapper {
  width: 100%;
  overflow: auto;
  pointer-events: auto;
  display: flex;
  justify-content: center;
}

.navigation {
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  padding: 2.5rem;
}

.pageButton {
  border: 1px solid transparent;
  transition: all 0.3s;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  font-size: 1.125rem;
  text-transform: uppercase;
  flex-shrink: 0;
}

.pageButton:hover {
  border-color: white;
}

.pageButtonActive {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.pageButtonInactive {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.scrollContainer {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  transform: rotate(-2deg);
  user-select: none;
}

.scrollInner {
  position: relative;
}

.scrollContent {
  background-color: rgba(255, 255, 255, 0);
  animation: horizontal-scroll 20s linear infinite;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  padding: 0 2rem;
}

@keyframes horizontal-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
